<% if employee.errors.any? %>
  <ul>
    <% employee.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for employee do |form| %>
  <div>
    員工姓名：<%= form.text_field :name %>
  </div>

  <div>
    Email：<%= form.text_field :email %>
  </div>

  <div>
    身份：<%= form.select :role_id, Role.all.map{ |r| [r.name, r.id] }, {}, :class => "form-control" %>
  </div>

  <%= form.submit %>
<% end %>