<% if record.errors.any? %>
  <ul>
    <% record.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for record do |form| %>
  <div>
    紀錄標題：<%= form.text_field :title %>
  </div>

  <div>
    紀錄：<%= form.text_area :description %>
  </div>

  <div>
    開始訪視時間：
  </div>

  <div>
    結束訪視時間：
  </div>

  <%= form.submit %>
<% end %>